# Dart related files
*.dart_tool/
*.packages
*.pub-cache/
*.pub/
/build/
.packages
.pub/

# Generated plugin registrants
generated_plugin_registrant.dart

# IntelliJ IDE-specific files
.idea/

# VS Code settings
.vscode/

# Flutter related files
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.android/
.ios/
.macos/
web/.dart_tool/
linux/
windows/

# Build output
/build/
**/build/
*.lock
*.log

# Dependency configuration
pubspec.lock

# Temporary files
*.tmp
*.swp
*.swo
*.bak
*.orig
*.rej
